
/* 

  -------------------------------------------
  
  Pomodoro title

  -------------------------------------------

*/
.title {

  text-align: center;
  margin-top: 5vh;

  font-weight: 700;
  font-size: 32px;
  color: #D7E0FF;
}

/*
  -------------------------------------------
  
  Modes is container that has: 
  - modeOption: pomodoro
  - modeOption: short break
  - modeOption: long break

  -------------------------------------------
  
*/
.modes {

  width: 375px;
  margin: 5vh auto 0 auto;
  
  display: flex;
  justify-content: space-between;

  background-color: #161932;
  border-radius: 32px;
  padding: 7px;
  align-items: center;

  /* Because of circle light shade, shade goes beneath modes */
  position: relative;
  z-index: 1;
}

.mode-option {

  padding: 3.5% 0% 3.5% 0%;
  border-radius: 32px;
  text-align: center;
}

.mode-option-orange {

  background-color: #F87070;
  width: 100%;
}

.mode-option-mint {

  background-color: #70F3F8;
  width: 100%;
}

.mode-option-purple {

  background-color: #D881F8;
  width: 100%;
}

.mode-option:hover {

  cursor: pointer;
}

.mode-option p {

  padding: 5% 7% 5% 7%;
  font-weight: 700;
  font-size: 14px;
}

.inactive-option {

  background-color: #161932;
  color: #D7E0FF;
  opacity: 0.4;
}

.inactive-option:hover {
  
  color: #D7E0FF;
  opacity: 1;
  cursor: pointer;
}

/*
  -------------------------------------------
  
  Main container has: 
  - circle with counter
  - start/restart/pause text
  - Settings modal

  -------------------------------------------
  
*/
.main-container {

  margin: 7vh auto 0 auto;
  filter: drop-shadow(0px 40px 40px rgba(0, 0, 0, 0.25));
  position: relative;
  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-circle {

  background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
  padding: 20px;
  border-radius: 50%;
  box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #161932;
}

.inner-circle svg {

  overflow: visible;
  background-color: #161932;
  margin: auto;
  border-radius: 50%;

  padding: 25px;
}

.stat {

  fill: #161932;
  stroke: #161932;
  stroke-width: 14;
  fill: transparent;
}

.load {

  fill: #161932;
  stroke: #161932;

  fill-opacity: 0;
  stroke-width: 0;
  stroke-dasharray: 1174;
  stroke-linecap: round;
  transition: fill-opacity 0.1s linear;
}

.load-orange {

  stroke:  #F87070;
}

.load-mint {

  stroke: #70F3F8;
}

.load-purple {

  stroke: #D881F8;
}

@keyframes load {

  0% {
    stroke-dashoffset: 1172;
  }
}

/*
  Counter represents following text: 
  minutes:seconds
*/
.counter {

  font-size: 100px;
  font-weight: 700;
  fill: #D7E0FF;
}

/* 
  start/pause/restart text
*/

.command-wrapper {

  width: 170px;
  height: 35px;
  position: relative;
  margin: auto;
  bottom: 220px;
  z-index: 1
}

.command-wrapper:hover {

  cursor: pointer;
}

.command {

  font-size: 16px;
  font-weight: 700;
  fill: #D7E0FF;
  letter-spacing: 15px;
  display: block;
}

.command-restart {

  margin-left: 28%;
}

.command-hovered-orange {

  fill: #F87070;
}

.command-hovered-mint {

  fill: #70F3F8;
}

.command-hovered-purple {

  fill: #D881F8;
}



/*
  Settings button
*/
.settings-button {

  display: block;
  margin: 25px auto 0 auto;

  position: relative;
  z-index: 0;
}

.settings-button path:hover {

  cursor: pointer;
  opacity: 1;
}

/*
  -------------------------------------------
  
  Settings modal

  -------------------------------------------
  
*/
.hidden {

  display: none;
}

.modal-container {

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(30, 33, 63, 0.5);

  z-index: 10;
}

.settings-modal {

  background-color: white;
  width: 550px;
  margin: auto;
  margin-top: 7.8%;
  border-radius: 15px;
  position: relative;
  padding-bottom: 4%;

  cursor: pointer;
}

.settings-and-close-icon {

  display: flex;
  justify-content: space-between;
  padding: 7% 6% 5% 6%;
}

hr {

  border: none;
  border-top: 1px solid #dfdfe0;
}

.settings-title {

  font-size: 28px;
  font-weight: 700;
  color: #161932;
}

.time-minutes {

  /* padding: 7% 7% 7% 7%; */
  width: 87%;
  margin: auto;
}

.time-minutes-title {

  color: #161932;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
}

.time-settings-container {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  border-bottom: 1px solid #dfdfe0;
  margin: auto;
  justify-items: start;
  padding-bottom: 5%;
}

.short-break-settings {

  width: 80%;
  margin-left: 7.5%;
}

.long-break-settings {

  width: 80%;
  margin-left: 13%;
}

.pomodoro-settings {

  width: 80%;
}

.description {

  font-size: 12px;
  font-weight: 700;
  color: rgba(30, 33, 63, 0.5);
  margin-bottom: 7%;
  text-align: left;
}

.minutes-input {

  display: flex;
  justify-content: space-between;
  background-color: #EFF1FA;
  padding: 10% 5% 10% 5%;
  border-radius: 5px;
  width: 100%;
}

.input-minut {

  font-size: 14px;
  font-weight: 700;
  color: #1E213F;
}

.arrows {

  display: flex;
  flex-direction: column;
}

.arrow-up {

  margin-bottom: 7px;
  fill: #1E213F;
}

.arrow-up:hover path {

  stroke-opacity: 1;
}

.arrow-down:hover path {

  stroke-opacity: 1;
}

.fa-check {

  color: #161932;
  font-weight: 500;

  margin-top: 2px;
}

.font-settings {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.font-title, .color-title {

  margin-left: 7%;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 5px;
}

.choices {

  display: flex;
  margin-right: 7%;
}

.font-circle {

  width: 35px;
  height: 27px;
  background-color: #EFF1FA;
  border-radius: 50px;
  padding-top: 8px;
  font-size: 15px;
  font-weight: 700;
  color: #979797;
  margin-top: 3.8px;
  margin-left: 4px;

  text-align: center;
}

.active-font {

  background-color: #161932;
  color: white;
}

.kumbh-sans {

  font-family: "Kumbh Sans";
}

.roboto-slab {

  font-family: "Roboto Slab";
}

.space-mono {

  font-family: "Space Mono";
}

.circle-wrapper {

  width: 43px;
  height: 43px;
  border-radius: 50px;
  border: 1px solid white;
  margin-left: 10px;
}

.circle-wrapper:hover {

  border: 1px solid #e2e3e6;
}

.second-hr {

  width: 88%;
}

.color-settings {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}

.color-circle {

  width: 35px;
  height: 27px;
  background-color: #EFF1FA;
  border-radius: 50px;
  padding-top: 8px;
  font-size: 15px;
  margin-top: 3.8px;
  margin-left: 4px;

  text-align: center;
}

.orange {

  background-color: #F87070;
}

.mint {

  background-color: #70F3F8;
}

.purple {

  background-color: #D881F8;
}

.apply {

  position: absolute;
  border-radius: 35px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  width: 15%;
  margin: auto;
  padding: 4% 7% 4% 7%;
  bottom: -6%;
  left: 35%;

  text-align: center;
}

.apply-orange {

  background-color: #F87070;
}

.apply-orange:hover {

  background-color: #f79797;
  cursor: pointer;
}

.apply-mint {

  background-color: #70F3F8;
}

.apply-mint:hover {

  background-color: #99eff1;
  cursor: pointer;
}

.apply-purple {

  background-color: #D881F8;
}

.apply-purple:hover {

  background-color: #e0a7f5;
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {

  .circle-svg {

    width: 274px;
    height: 274px;
  }

  .command-wrapper {

    bottom: 190px;
  }

}


@media only screen and (max-width: 1024px) {

  .settings-modal {

      margin-top: 14%;
  }
}

@media only screen and (max-width: 824px) {

  .settings-button {

    padding-bottom: 5vh;
  }

  .command-wrapper {

    bottom: 235px;
  }
}

@media only screen and (max-width: 540px) {


  .modes {

    width: 80%;
    font-size: 12px;
  }
  .circle-svg {

    width: 250px;
    height: 250px;
  }

  .settings-modal{

      width: 90%;
  }

  .settings-title {

      font-size: 20px;
  }

  .time-minutes-title {
      text-align: center;
      font-size: 11px;
      letter-spacing: 4.23px;
      margin-bottom: 8%;
  }

  .time-settings-container {
      display: flex;
      flex-direction: column;
      
      width: 100%;
      margin: auto;
      justify-items: start;
      padding-bottom: 5%;
      align-items: center;
  }

  .pomodoro-settings {

      display: flex;
      justify-content: space-between;
      margin-bottom: 3%;
      width: 100%;

  }

  .short-break-settings {

      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-left: 0;
      margin-bottom: 3%;
  }

  .long-break-settings {

      display: flex;
      justify-content: space-between;
      margin-left: 0;
      width: 100%;
  }

  .minutes-input {
      display: flex;
      justify-content: space-between;
      background-color: #EFF1FA;
      padding: 2% 2% 2% 2%;
      border-radius: 5px;
      width: 35%;
  }

  .font-settings {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
  }

  .choices {

      margin-right: 0;
      margin-top: 3%;
  }

  .font-title, .color-title {
      margin-left: 4%;
      font-size: 11px;
      letter-spacing: 4.23px;
  }

  .color-settings {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
      margin-bottom: 10%;
  }

  .apply {

      font-size: 16px;
      bottom: -4.5%;
  }

}

@media only screen and (max-width: 450px) {

  .modes {

    width: 90%;
  }

  .mode-option p {

    font-size: 12px;
  }

  .mode-option {

    padding: 3% 2% 3% 2%;
  }

  .circle-svg {

    width: 250px;
    height: 250px;
  }

  .command {

    font-size: 20px;
  }

  .command-wrapper {

    bottom: 210px;
  }

  .counter {

    font-size: 120px;
  }

  .inner-circle svg {

    padding: 15px;
  }

  .outer-circle {

    padding: 13px;
  }
}

@media only screen and (max-width: 327px) {

  .circle-svg {

    width: 210px;
    height: 210px;
  }

  .command {

    font-size: 20px;
  }

  .command-wrapper {

    bottom: 190px;
  }

  .counter {

    font-size: 120px;
  }

  .element-style {

    stroke-width: 0px;
  }

}

@media only screen and (min-width: 730px) and (max-width: 824px) and (min-height: 410px ) and (max-height: 415px) {

  .command-wrapper {
    
    bottom: 210px;
  }
}

@media only screen and (min-width: 653px) and (max-width: 815px) and (min-height: 280px ) and (max-height: 376px) {

  .command-wrapper {
    
    bottom: 210px;
  }
}



@media only screen and (min-width: 667px) and (max-width: 670px) and (min-height: 370px ) and (max-height: 376px) {

  .command-wrapper {
    
    bottom: 210px;
  }
}

@media only screen and (min-width: 812px) and (max-width: 815px) and (min-height: 370px ) and (max-height: 376px) {

  .command-wrapper {
    
    bottom: 210px;
  }
}

@media only screen and (min-width: 653px) and (max-width: 655px) and (min-height: 280px ) and (max-height: 282px) {

  .command-wrapper {
    
    bottom: 210px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 642px) and (min-height: 360px ) and (max-height: 365px) {

  .command-wrapper {
    
    bottom: 210px;
  }
}

@media only screen and (min-width: 567px) and (max-width: 570px) and (min-height: 320px ) and (max-height: 322px) {

  .command-wrapper {
    
    bottom: 210px;
  }
}